body {
    background-image: url("NYCC-2014-Rick-and-Morty-cast.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
}
p{
    color: white;
    font-size: larger;
}
h1{
    color: white;
    text-align: center; 
    font-size: larger;
}